backend:
  replicaCount: 3
  image:
    tag: "stable"
  resources:
    limits:
      cpu: 1000m
      memory: 1024Mi
    requests:
      cpu: 200m
      memory: 512Mi
  env:
    - name: ENVIRONMENT
      value: "production"

frontend:
  replicaCount: 3
  image:
    tag: "stable"
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 256Mi
