backend:
  replicaCount: 1
  image:
    tag: "latest"
  resources:
    limits:
      cpu: 250m
      memory: 256Mi
    requests:
      cpu: 50m
      memory: 128Mi
  env:
    - name: ENVIRONMENT
      value: "development"

frontend:
  replicaCount: 1
  image:
    tag: "latest"
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 25m
      memory: 64Mi
